{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <div>

        <a href="{{ path('app_logout') }}" class="home"><button>Se Déconnecter</button></a>
    </div>


{% endblock %}
