    {% for article in articles %}
        <a href="{{ path('app_article_stock_show', {'id': article.id}) }}">
            <div class="card">
                <div class="container">
                    <h4><b>{{ article.intitule }}</b><br>
                        {{ article.prix }}€
                    </h4>

                    <p>{{ article.description }} </p>
                </div>
            </div>
        </a>
    {% endfor %}