.slideshow-container{
    margin: auto;
    position: relative;
}
.mySlides{
    display: none;
}
.next {
    right:0;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.carousel-container{
    overflow: auto;
    white-space: nowrap;
}
.carouselSlides{
    display: inline-block;
    margin-right: -500px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: fit-content;
    padding: 2px 16px;
}
.carouselSlides:hover {

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.carouselSlides img {
    width: 50%;
}
.container {

    padding: 2px 16px;
    grid-row: auto;
    grid-column: auto;
}