form:has(> div) {
    margin-top: 2em;
    display: grid;
    grid-template: repeat(4,25%) / 100%;
    height: 100%;


}
form div {
    display: grid;
    grid-template: 100% / 40% 60%;
    height: 5em;
}
/* CSS for mail Input */
form div * {
    height: 1em;
}
form div *:first-child{
    text-align: right;
    margin-right: 25px;
}
form div *:last-child{
    width: 20em;
    border-radius: 20px;
}
form button {
    width: 12em;
    height: 2em;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
a{
    display: flex;
    text-align: center;
    justify-content: center;
}


h1 {
    text-align: center;
}