<div class="navbar">
    <a href="{{ path('app_acceuil') }}" class="home">Acceuil</a>
    {% if app.request.getPathInfo != "/search" or app.request.getPathInfo != "/ajax/search" %}

    <form name="searchBar" action="{{ path('app_search') }}" method="get">
        <input type="text" name="keywords">
    </form>
{% endif %}



    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_profile') }}" class="myProfile">Mon Profil</a>
    {% else %}
        <a href="{{ path('app_login') }}" class="myProfile">Se Connecter</a>
    {% endif %}
</div>

