<div class="navbar">
    <a href="{{ path('app_acceuil') }}" class="home">Acceuil</a>
    <form name="searchBar" action="search" method="get">
        <input type="text" name="keywords">
    </form>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_profile') }}" class="myProfile">Mon Profil</a>
    {% else %}
        <a href="{{ path('app_login') }}" class="myProfile">Se Connecter</a>
    {% endif %}
</div>

